# Data structures

### Lists
Lists are the most commonly used data structure. It represents an ordered, modifiable set of objects.
Lists are written as sequences of data, separated by a comma and enclosed in square brackets.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
# An empty list
list_1 = []

# a list with integer objects
list_2 = [3, 5, 7, 9]

# a list of strings
list_3 = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# a list of mixed types
list_4 = [2, 5, "Elephant", 6, 8.2, True]

You can access each data element by its index (position). Note that in Python, indexing starts from 0.

In [ ]:
list_4[0]

In [ ]:
list_4[4]

Accessing an index that is "too big" leads to an error:

In [3]:
list_4[10]

IndexError: list index out of range

Indexing can also be done in reverse order. -1 then is the index of the last element.

In [4]:
list_4[-1]

True

### Built-in List functions

In [5]:
l = [1,2,3,0,1,5,4,3,5,5,2]

print(len(l)) # Number of elements
print(min(l)) # minimum of all elements
print(max(l)) # maximum of all elements
print(l.count(5)) # how often appears the value 5?
print(l.index(0)) # at which position appears the value 0 the first time?

11
0
5
3
3

In [ ]:
l = ['a','b','c','d']
l.append('e') #Adds an element to the end of the list
l.append('f')
print(l)

In [6]:
l.insert (5,"new_element")
print (l)

[1, 2, 3, 0, 1, 'new_element', 5, 4, 3, 5, 5, 2]

In [ ]:
l = ['a','b','c','d']
l.append('e') #Adds an element to the end of the list
l.append('f')
print(l)

In [ ]:
l.insert(1, "new_element")
print(l)

We can also just overwrite elements of a list:

In [7]:
l[2] = 'replacement'
l

[1, 2, 'replacement', 0, 1, 'new_element', 5, 4, 3, 5, 5, 2]

In [ ]:
l[10] = 'too-late' # cannot set an element that does not exist yet

In [ ]:
l = ['a','b','c','d','b']
l.remove('b')
l

In [9]:
l = ['a','b','c','d']
x = l.pop(2)
print (l)
print (x)

['a', 'b', 'd']
c

In [8]:
l = ['a','b','c','d']
l.pop(1) # of course, you do not have to use the result value
l

['a', 'c', 'd']

In [ ]:
l = [2,1,4,3,6,5,8,7]
l.reverse()
l

In [ ]:
l = [2,1,4,3,6,5,8,7]
l.sort()
l

You can also place the contents of variables into a list. Note that you just assign the variable contents, not the variable itself, so the list is unaffected by later changes in the variable!

In [10]:
x = 5
y = 10
l = [x, y]
print(l)
x = 10
print(l)

[5, 10]
[5, 10]

### Lists of Lists

Merge two lists

In [12]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
list_1 + list_2 + list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List can contain any object. That means it can also contain other lists!

To access nested lists we can use indexing again.

In [13]:
list_of_lists = []
list_of_lists.append(list_1)
list_of_lists.append(list_2)
list_of_lists.append(list_3)
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
#um an die 2 zu kommen muss man schreiben
list_of_lists[0][1]
#weil die zwei das zweite Element der ersten Klammer ist

2

In [ ]:
list_of_lists[0]

In [ ]:
type(list_of_lists)

In [ ]:
#We could have also created this directly:
list_of_lists = [[1,2,3],
                 [4,5,6],
                 [7,8,9]]
list_of_lists

Access works just in the same way as before:

In [ ]:
print(list_of_lists[1])
print(type(list_of_lists))

We can "chain" the locators in square brackets:

In [ ]:
list_of_lists[1][0]

There is also an option to add all elements from a list to another list, called extend

In [ ]:
print(list_1)
print(list_2)
list_1.extend(list_2)
print(list_1)

In [ ]:
print(list_1)
print(list_2)
list_1.extend(list_2)
print(list_1)

Slicing is an operation to access specific parts of the list (several elements). It uses a colo (:) with the index of the first value (included) and the index of the last value (excluded). Thus, my_list[x:y] contains y-x elements. One (or both) values can also be left out, then it is assumed that it is the most extreme possible value.

In [17]:
full_list = ['a','b','c','d','e','f','g','h']

In [18]:
full_list[1:5]

['b', 'c', 'd', 'e']

In [19]:
full_list[3:]

['d', 'e', 'f', 'g', 'h']

In [20]:
full_list[:5]

['a', 'b', 'c', 'd', 'e']

In [21]:
full_list[:-1] #removes just the last element

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [22]:
x = full_list[:] # just a copy!
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

### Copying lists

There is a difference between assigning a new variable to a list ("just another name for the same list") or creating a copy of a list!

In [23]:
print(full_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [24]:
x = full_list[:]
y = full_list
full_list.append('X')
print(x)
print(y)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'X']

### Tuples

Tuples are very similar to lists. The difference is that lists are modifiable, but tuples cannot change once they are created.

In [25]:
t = ('a','b','c')
type(t)

tuple

In [26]:
t[1]

'b'

In [27]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

### Sets

Sets are similar to lists, but are (i) not ordered and (ii) cannot contain the same element multiple times.

In [28]:
st = set([5,4,3,1,5,2,3,4,5])
st

{1, 2, 3, 4, 5}

In [ ]:
st.add(100)
st

In [ ]:
st.add(1)
st

### Dictionaries
Python’s built-in mapping type. They map keys, which can be any immutable(unchanchable) type, to values, which can be any type

In [ ]:
d = dict()
d = {}
type(d)

In [29]:
presidents_inauguration = {}
presidents_inauguration['Trump'] = 2017 
presidents_inauguration['Obama'] = 2009
presidents_inauguration['Bush'] = 2001
print(presidents_inauguration)

{'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

In [30]:
presidents_inauguration = {'Trump': 2017, 
                           'Obama': 2009, 
                           'Bush': 2001}

In [31]:
presidents_inauguration ["Trump"]

2017

In [ ]:
print("Obama was inaugurated in " + str(presidents_inauguration ['Obama']))

Hier braucht man String, weil man sonst String und Zahl miteinander verbinden würde und das geht nicht.

In [ ]:
presidents_inauguration.keys()

In [ ]:
presidents_inauguration.values()

In [ ]:
presidents_inauguration.items()

In [ ]:
len(presidents_inauguration)

### Defaultdicts

In [33]:
d = {"a": 5, "b": 3}
d["c"]

KeyError: 'c'

In [32]:
from collections import defaultdict
d = defaultdict(int)
d["a"] = 5
d["b"] = 3
d["c"]

0

In [ ]:
from collections import defaultdict
d = defaultdict(list)
d["a"] = 5
d["b"] = 3
d["c"]

# Flow control

Without control statements commands are just executed one after the other, line by line. Control statements allow for conditional execution of commands or iterated (possibly with modifications) execution of code.

### If - Else
"If" constructs allow for the conditional execution of code.

In [34]:
x = 10
if x > 5:
    print ('This is a big number!')

This is a big number!

In [35]:
x = 1
if x > 5:
    print ('This is a big number!')

in the "else" block, we can specify code that is executed otherwise

In [ ]:
x = 4
if x > 5:
    print ('This is a big number!')
else:
    print ('this is a small number!')

The "elif" block is executed only, if the condition after "if" does not apply, but the condition after "elif" applies.

In [ ]:
x = 15
if x > 20:
    print ('This is a very big number!')
elif x > 10:
    print ('This is a big number!')
else:
    print ('this is a small number!')

We can also do the same with a hierarchical if-else:

In [ ]:
x = 15
if x > 20:
    print ('This is a very big number!')
else:
    if x > 10:
        print ('This is a big number!')
    else:
        print ('this is a small number!')

In [ ]:
x = 10
command = 'increment'
if command =='increment':
    x = x + 1
print (x)

Note that tabs/whitespaces are very important (at the start of the line). Spot the difference between the next two blocks!

In [36]:
x = 10
command = 'nothing'
if command =='increment':
    x = x + 1
print(x)

10

In [ ]:
x = 10
command = 'increment'
if command =='increment':
    y = 2
    x = x + 1
print(x)
print(y)

There must always be a code block after if/else. If you want to leave it empty, you can use pass. It does (literally) nothing, but prevents a syntactic error.

In [37]:
x = 20
if x > 10:
    #We will implement this later
    pass
print ("Here our code continues...")

Here our code continues...

### Loops
Loops allow you to execute code multiple times. The variable values, and thus the actual execution can be different in each iteration.

In [39]:
first_names = ['John', 'Paul', 'George', 'Ringo']
for name in first_names:
    print("Hello " + name + "!")

Hello John!
Hello Paul!
Hello George!
Hello Ringo!

Contrary to many other programming languages there is no built-in for... counting loop.
However, you can use the range function:

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(2, 5):
    print (i)

2
3
4

In [42]:
#three arguments: start, stop, step-size
for i in range (-10, 10, 2):
    print(i)

-10
-8
-6
-4
-2
0
2
4
6
8

The enumerate statement allows you to iterate over a list with an index:

In [43]:
for index, name in enumerate(first_names):
    print("Name "+ str(index) + ": " + name)

Name 0: John
Name 1: Paul
Name 2: George
Name 3: Ringo

break allows you to break a loop at any time:

In [ ]:
for index, name in enumerate (first_names):
    print("Name "+ str(index) + ": " + name)
    if name == "Paul":
        break

We cannot only loop over lists, but over any iterable. For example strings

In [ ]:
x = "example"
for letter in x:
    print(letter)

In [44]:
x = 1
while x < 100:
    x = x * 2
    print(x)

2
4
8
16
32
64
128

You can use "break" just like in for-loops, you can even entirely rely on that!

In [45]:
x = 1
while True:
    if x > 100:
        break
    x = x * 2
    print(x)

2
4
8
16
32
64
128